body
{
    font-family: 'Arimo', sans-serif;
    background-color: #6D9886;
}

p
{
    font-family: 'Lato', sans-serif;
}

footer
{
    background-color: #212121;
}

.col-12, .col-md-5
{
    background-color: #D9CAB3;
    border-color: #212121;
    border-style: solid;
    border-radius: 0% 5% 5% 5%;
}

.navbar-brand
{
    color: #F6F6F6;
    font-size: 2rem;
    font-weight: 500;
}

.fas
{
    color: #F6F6F6;
}